{% extends 'base.html.twig' %}

{# design de formulaire #}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>
        {% if editMode %}
            Modifier un article !
        {% else %}
            Création d'un article !
        {% endif %}    
    </h1>

    {{ form_start(formArticle) }}

    {# Bonne pratique
        form_row() permet d'ajouter tous les options que l'on veut dans 
        un champ input (attr , label, error), ça évite de le faire dans le controller 
    #}
    {{ 
        form_row(formArticle.title, {
            'attr': {
                'placeholder': "Titre de l'article"
            },
            'label': "Titre"
        }) 
    }}

    {{ form_row(formArticle.category) }}

    {{ 
        form_row(formArticle.content, {
            'attr': {
                'placeholder': "Contenu de l'article"
            },
            'label': "Conetnu"
        }) 
    }}

    {{  
        form_row(formArticle.image, {
            'attr': {
                'placeholder': "URL de l'image"
            },
            'label': "Image"
        }) 
    }}
    
    <button type="submit" class="btn btn-primary">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}    
            Ajouter l'article
        {% endif %}    
    </button>

    {{ form_end(formArticle) }}

{% endblock %}