{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<section class="articles">

    {% for article in articles %}
        <article>
            <h2>{{ article.title }}</h2>
            <div class="metadata"> 
                Ecrit le {{ article.createdAt | date('d/m/y') }} à {{ article.createdAt | date('H:i:s') }}  dans la catégorie {{ article.category.title }}
                {# {{ article.createdAt.format('d/m/y à H:i:s') }} #}
            </div>
            <div class="content"> 
                <img src="{{ article.image }}" alt="">
                <p>
                    {# filtre raw pour ne pas afficher les balises html  #}
                    {{ article.content | raw }}
                </P>
                {# {{ path() }} permet de mettre le nom de la route entre les parenthèses #}
                <a href="{{ path('blog_show', {id : article.id}) }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
    {% endfor %}    

</section>
    
{% endblock %}
