{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>{{article.title}}</h2>
        <div class="metadata"> 
            Ecrit le {{ article.createdAt | date('d/m/y') }} à {{ article.createdAt | date('H:i:s') }} 
            dans la catégorie {{ article.category.title }}
        </div>
        <div class="content"> 
            <img src="{{ article.image }}" alt="">
            <p>
                {# filtre raw pour ne pas afficher les balises html  #}
                {{ article.content | raw }}
            </P>
        </div>
    </article>

    <section id="commentaires">
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.author }} (<small> {{ comment.createdAt | date('d/m/y à H:i') }}</small>)
                    </div>
                    <div class="col-3">
                        {{ comment.content | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}